@* <!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - MAS</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="topbar">
        <div class="container">
            <div class="brand">MAS</div>
        </div>
    </header>

    <main class="container">
        @RenderBody()
    </main>

    <footer class="footer container">© @DateTime.Now.Year MAS</footer>

    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html> *@
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - MAS</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="topbar">
        <div class="container">
            <div class="brand">MAS</div>
        </div>
    </header>

    <main class="container app-shell">
        <aside class="sidebar">
            @await Html.PartialAsync("_Sidebar")
        </aside>
        <section class="content">
            @RenderBody()
        </section>
    </main>

    <footer class="footer container">© @DateTime.Now.Year MAS</footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
